    <link rel="icon" href="../../public/Images/weather.png" />


{{>header}}
<br />
<br />

<center>
    <h1>404 Page not found!</h1>
</center>

<br />
<br />
{{!-- <a href="/">Go home</a>
<br />
<br /> --}}
{{>footer}}