<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../../public/Images/weather.png" />
    <link rel="stylesheet" href="./css/style.css" />
    <title>About Page</title>
</head>

<body>
    <div class="main-content">
        <h1>{{>header}}</h1>
        {{!-- <br />/ --}}
        <img src="./Images/WIN_20221218_19_42_29_Pro.jpg" alt="My Profile" />
        <p>Creator Name : Anil</p>
    </div>
        {{>footer}}
</body>

</html>