<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../../public/Images/weather.png" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Weather App</title>
</head>

<body>
    <div class="main-content">
    <h1>{{>header}}</h1>
    {{!-- <h1>{{title}}</h1> --}}
    <p>{{pageDescription}}</p>
    <br />

    <form>
        <input required placeholder="Location">
        <button>Search</button>
    </form>

    <br />
    <br />

    <p id="message1">Temperature : </p>
    <br />
    <p id="message2">Weather : </p>
    <br />
    
    
    </div>

    {{>footer}}

    <script src="/js/app.js"></script>
</body>

</html>